
body {
    margin: 0;
    font-family: Arial, sans-serif; /* Choose a suitable font */
    color: #333; /* Choose a suitable color */
    line-height: 1.6;
}

header {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}

header h1 {
    margin: 0;
    padding-bottom: 20px;
}

header a.button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #333; /* Choose a suitable color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header a.button:hover {
    background-color: #555; /* Choose a suitable color */
}

.canvas-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.canvas {
    border: 10px solid black;
    height: 250px;
    width: 250px;
}

.dropdowns-container {
    display: block;
    width: 800px;
    margin-left: 20px;
    padding: 20px 0;
}

.select-container {
    display: inline-block;
    margin-right: 20px;
}

.color-container {
    display: block;
    width: 750px;
    margin: 0;
    padding: 0;
}

.color-selection {
    display: inline-block;
    width: calc(33% - 20px);
    text-align: center;
    margin-right: 0px;
}

#output-container {
    display: inline-block;
    width: calc(33% - 20px);
    text-align: center;
}

.audio-controls {
    margin-left: 20px;
    margin-top: 20px;
}

#actualInputCanvas, #rfPolygonCanvas {
    display: none;
}

#rfCanvas {
    border: 10px solid black;
    position: absolute;
    top: 300px;
    left: 400px;
    height: 250px;
    width: 250px;
}

#actualInputCanvas {
    border: 10px solid black;
    position: absolute;
    top: 300px;
    left: 700px;
    height: 250px;
    width: 250px;
    display: none;
}

#rfPolygonCanvas {
    /* border: 10px solid black; */
    position: absolute;
    top: 300px;
    left: 1000px;
    /* height: 250px;
    width: 250px; */
    display: none;
}

input[type=range]{
    -webkit-appearance: none; /* Override default CSS styles */
    border: 1px solid black;
    border-radius: 12px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: black;
}

#bar_red, #bg_red {
    background: lightcoral;
}

#bar_green, #bg_green {
    background: lightgreen;
}

#bar_blue, #bg_blue {
    background: lightblue;
}

#mute {
    border-radius: 10px;
}

.instructions {
    font-family: monospace;
}

#overview_img {
    height: 300px;
    border: 1px solid black;
    display: block;
    margin: 50px;
}

#polygon_control {
    position: absolute;
    left: 400px;
}

#submission_results {
    margin: 30px 10px;
}

#ground_truth_img {
    margin: 30px 10px;
}